In [1]:
import numpy as np

In [3]:
file_path = '/home/ayarkhan01/Desktop/Projects/Financial Model/data.xlsx'

# Load the data
df = pd.read_excel(file_path)

In [4]:
import pandas as pd

# Rename columns
df.columns = ['Customer'] + [col.strftime('%b %Y') for col in df.columns[1:]]

# Define a function to identify the cohort
def identify_cohort(row: pd.Series, headers: pd.Index) -> str:
    for idx, value in enumerate(row):
        if value != 0:
            return pd.to_datetime(headers[idx], format='%b %Y').strftime('%b %Y')
    return "NA"

# Apply the function to create a 'Cohort' column
df['Cohort'] = df.apply(lambda row: identify_cohort(row[1:], df.columns[1:]), axis=1)

# Drop the 'Customer' column
df_values = df.drop(columns=['Customer'])

# Melt the DataFrame
df_melted = df_values.melt(id_vars=['Cohort'], var_name='Month', value_name='Value')

# Convert 'Month' to datetime and pivot the table
df_melted['Month'] = pd.to_datetime(df_melted['Month'], format='%b %Y')
pivot_table = df_melted.pivot_table(index='Cohort', columns='Month', values='Value', aggfunc='sum', fill_value=0)
pivot_table = pivot_table.sort_index(axis=1)
pivot_table.columns = pivot_table.columns.strftime('%b %Y')
pivot_table.reset_index(inplace=True)

# Sort the DataFrame by the 'Cohort' column
pivot_table['Cohort'] = pd.to_datetime(pivot_table['Cohort'], format='%b %Y', errors='coerce')
pivot_table = pivot_table.sort_values(by='Cohort')
pivot_table['Cohort'] = pivot_table['Cohort'].dt.strftime('%b %Y').fillna('NA')
pivot_table.reset_index(drop=True, inplace=True)
pivot_table.index = pivot_table.index + 1

In [5]:
pivot_table

Month,Cohort,Jan 2021,Feb 2021,Mar 2021,Apr 2021,May 2021,Jun 2021,Jul 2021,Aug 2021,Sep 2021,...,Mar 2023,Apr 2023,May 2023,Jun 2023,Jul 2023,Aug 2023,Sep 2023,Oct 2023,Nov 2023,Dec 2023
1,Jan 2021,29453.75,35703.75,39870.416667,41495.416667,41495.416667,37328.750000,37328.750000,38578.750000,39412.083333,...,42141.250000,42141.250000,42141.250000,43807.916667,43807.916667,44224.583333,44224.583333,44641.250000,44641.250000,44641.250000
2,Mar 2021,0.00,0.00,14166.666667,14166.666667,14166.666667,14166.666667,14166.666667,14166.666667,14166.666667,...,24166.666667,13750.000000,13750.000000,13750.000000,15833.333333,15833.333333,15833.333333,15833.333333,15833.333333,15833.333333
3,Apr 2021,0.00,0.00,0.000000,4166.666667,7500.000000,7500.000000,7500.000000,7500.000000,7500.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,Jun 2021,0.00,0.00,0.000000,0.000000,0.000000,10333.333333,10333.333333,10333.333333,10333.333333,...,11333.333333,11333.333333,11333.333333,11333.333333,11333.333333,11333.333333,11333.333333,11333.333333,11333.333333,11333.333333
5,Jul 2021,0.00,0.00,0.000000,0.000000,0.000000,0.000000,3333.333333,3333.333333,3333.333333,...,3333.333333,3333.333333,3333.333333,3333.333333,3333.333333,6666.666667,6666.666667,6666.666667,6666.666667,6666.666667
6,Aug 2021,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,4583.333333,4583.333333,...,1666.666667,1666.666667,1666.666667,1666.666667,1666.666667,1666.666667,1666.666667,1666.666667,1666.666667,1666.666667
7,Sep 2021,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5416.666667,...,8750.000000,8750.000000,8750.000000,8750.000000,8750.000000,8750.000000,8750.000000,8750.000000,8750.000000,8750.000000
8,Oct 2021,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,6625.000000,6625.000000,6625.000000,6625.000000,6625.000000,6625.000000,6625.000000,6625.000000,6625.000000,9060.166667
9,Dec 2021,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,23958.333333,23958.333333,23958.333333,23958.333333,23958.333333,25625.000000,26041.666667,26041.666667,32291.666667,30841.666667
10,Jan 2022,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,15250.000000,14416.666667,14416.666667,14416.666667,14416.666667,14416.666667,14416.666667,14416.666667,14416.666667,14416.666667
11,Feb 2022,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,7500.000000,7500.000000,7500.000000,9583.333333,9583.333333,9583.333333,9583.333333,9583.333333,9583.333333,9583.333333
12,Mar 2022,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,5000.000000,7916.666667,7916.666667,7916.666667,7916.666667,7916.666667,7916.666667,7916.666667,7916.666667,7916.666667
13,Apr 2022,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,5270.833333,5270.833333,7308.333333,7308.333333,7308.333333,7308.333333,7308.333333,7308.333333,7308.333333,7308.333333
14,May 2022,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
15,Jun 2022,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,28052.083333,28052.083333,32218.750000,31052.083333,28010.416667,28010.416667,28010.416667,28010.416667,28010.416667,30010.416667
16,Jul 2022,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,8437.500000,8437.500000,8437.500000,8437.500000,8437.500000,9145.833333,9145.833333,9145.833333,9145.833333,9145.833333
17,Aug 2022,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,18333.333333,18333.333333,18333.333333,18333.333333,18333.333333,19166.666667,20000.000000,20000.000000,20000.000000,20000.000000
18,Sep 2022,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,19333.333333,19333.333333,19333.333333,21416.666667,22979.166667,21312.500000,24645.833333,24645.833333,24645.833333,24645.833333
19,Oct 2022,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,6666.666667,10833.333333,10833.333333,10833.333333,10833.333333,10833.333333,8750.000000,11833.333333,11833.333333,11833.333333
20,Nov 2022,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,15000.000000,20000.000000,20000.000000,20000.000000,25833.333333,25833.333333,25833.333333,25833.333333,26250.000000,24166.666667
21,Dec 2022,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,19241.666667,19241.666667,19241.666667,19241.666667,19241.666667,19541.666667,19541.666667,19541.666667,19641.666667,21558.333333
22,Jan 2023,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2166.666667,2166.666667,2166.666667,2166.666667,2166.666667,2166.666667,2166.666667,2166.666667,2166.666667,2166.666667
23,Feb 2023,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,14125.000000,14125.000000,14125.000000,14125.000000,14125.000000,15791.666667,15791.666667,15791.666667,15791.666667,15791.666667
24,Mar 2023,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,21000.000000,21000.000000,21000.000000,21000.000000,21000.000000,21000.000000,21000.000000,21000.000000,21000.000000,23500.000000
25,Apr 2023,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,12250.000000,12250.000000,12250.000000,12250.000000,12250.000000,12250.000000,9750.000000,10250.000000,10250.000000
26,May 2023,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,15541.666667,15541.666667,15541.666667,15541.666667,15541.666667,15541.666667,15541.666667,15541.666667
27,Jun 2023,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,42937.083333,42937.083333,42937.083333,42937.083333,42937.083333,42937.083333,43770.416667
28,Jul 2023,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,11666.666667,11666.666667,11666.666667,11666.666667,11666.666667,12166.666667
29,Aug 2023,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,21041.666667,21041.666667,21041.666667,21041.666667,21041.666667
30,Sep 2023,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,31333.333333,31333.333333,31333.333333,31333.333333
31,Oct 2023,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23000.000000,23000.000000,23000.000000
32,Nov 2023,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23083.333333,23083.333333
33,Dec 2023,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,44423.333333
34,NA,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [6]:

# Load the pivot_table DataFrame from the Excel file


# Function to shift non-zero values to the left
def shift_values(row):
    non_zero_values = row[row != 0]
    zero_values = row[row == 0]
    return pd.Series(list(non_zero_values) + list(zero_values))

# Apply the function to each row, starting from the second column
shifted_df = pivot_table.iloc[:, 1:].apply(shift_values, axis=1)

# Combine the Cohort column with the shifted values
shifted_df.insert(0, 'Cohort', pivot_table['Cohort'])

# Rename the columns to "month 1", "month 2", etc.
shifted_df.columns = ['Cohort'] + [f'month {i+1}' for i in range(shifted_df.shape[1] - 1)]

print("Shifted pivot table saved as 'shifted_cohort_pivot_table.xlsx'")

Shifted pivot table saved as 'shifted_cohort_pivot_table.xlsx'

In [7]:
print(shifted_df)

      Cohort       month 1       month 2       month 3       month 4  \
1   Jan 2021  29453.750000  35703.750000  39870.416667  41495.416667
2   Mar 2021  14166.666667  14166.666667  14166.666667  14166.666667
3   Apr 2021   4166.666667   7500.000000   7500.000000   7500.000000
4   Jun 2021  10333.333333  10333.333333  10333.333333  10333.333333
5   Jul 2021   3333.333333   3333.333333   3333.333333   3333.333333
6   Aug 2021   4583.333333   4583.333333   4583.333333   4583.333333
7   Sep 2021   5416.666667   5416.666667   5416.666667   5416.666667
8   Oct 2021   3333.333333   3333.333333   3333.333333   3333.333333
9   Dec 2021  13750.000000  13750.000000  13750.000000  13750.000000
10  Jan 2022  11833.333333  11833.333333  11833.333333  11833.333333
11  Feb 2022   5833.333333   5833.333333   5833.333333   5833.333333
12  Mar 2022   5000.000000   5000.000000   5000.000000   5000.000000
13  Apr 2022   5270.833333   5270.833333   5270.833333   5270.833333
14  May 2022   1666.666667   1666.666667   1666.666667   1666.666667
15  Jun 2022  26000.000000  26000.000000  26000.000000  26000.000000
16  Jul 2022   8437.500000   8437.500000   8437.500000   8437.500000
17  Aug 2022  20000.000000  20000.000000  20000.000000  20000.000000
18  Sep 2022  19333.333333  19333.333333  19333.333333  19333.333333
19  Oct 2022   6666.666667   6666.666667   6666.666667   6666.666667
20  Nov 2022  15000.000000  15000.000000  15000.000000  15000.000000
21  Dec 2022  16950.000000  16950.000000  16950.000000  19241.666667
22  Jan 2023   2166.666667   2166.666667   2166.666667   2166.666667
23  Feb 2023  14125.000000  14125.000000  14125.000000  14125.000000
24  Mar 2023  21000.000000  21000.000000  21000.000000  21000.000000
25  Apr 2023  12250.000000  12250.000000  12250.000000  12250.000000
26  May 2023  15541.666667  15541.666667  15541.666667  15541.666667
27  Jun 2023  42937.083333  42937.083333  42937.083333  42937.083333
28  Jul 2023  11666.666667  11666.666667  11666.666667  11666.666667
29  Aug 2023  21041.666667  21041.666667  21041.666667  21041.666667
30  Sep 2023  31333.333333  31333.333333  31333.333333  31333.333333
31  Oct 2023  23000.000000  23000.000000  23000.000000      0.000000
32  Nov 2023  23083.333333  23083.333333      0.000000      0.000000
33  Dec 2023  44423.333333      0.000000      0.000000      0.000000
34        NA      0.000000      0.000000      0.000000      0.000000

         month 5       month 6       month 7       month 8       month 9  ...  \
1   41495.416667  37328.750000  37328.750000  38578.750000  39412.083333  ...
2   14166.666667  14166.666667  14166.666667  14166.666667  14166.666667  ...
3    7500.000000   7500.000000   7500.000000   7500.000000   7500.000000  ...
4   10333.333333  10333.333333  10333.333333  10333.333333  11333.333333  ...
5    3333.333333   3333.333333   3333.333333   3333.333333   3333.333333  ...
6    4583.333333   4583.333333   4583.333333   4583.333333   4583.333333  ...
7    5416.666667   5416.666667   5416.666667   5416.666667   5416.666667  ...
8    3333.333333   3333.333333   3333.333333   3333.333333   3333.333333  ...
9   13750.000000  13750.000000  13750.000000  13750.000000  15000.000000  ...
10  11833.333333  13166.666667  13166.666667  13166.666667  13166.666667  ...
11   5833.333333   5833.333333   5833.333333   5833.333333   5833.333333  ...
12   5000.000000   5000.000000   5000.000000   5000.000000   5000.000000  ...
13   5270.833333   5270.833333   5270.833333   5270.833333   5270.833333  ...
14   1666.666667   1666.666667   1666.666667   1666.666667   1666.666667  ...
15  26000.000000  26000.000000  26000.000000  26000.000000  28052.083333  ...
16   8437.500000   8437.500000   8437.500000   8437.500000   8437.500000  ...
17  20000.000000  20000.000000  20000.000000  18333.333333  18333.333333  ...
18  19333.333333  19333.333333  19333.333333  19333.333333  19333.333333  ...
19   6666.666667   6666.666667  10833.333333  10833.333333  10833.333333  ...
20  15000.000000  20000.000000  20000.000000  20000.000000  25833.333333  ...
21  19241.666667  19241.666667  19241.666667  19241.666667  19541.666667  ...
22   2166.666667   2166.666667   2166.666667   2166.666667   2166.666667  ...
23  14125.000000  14125.000000  15791.666667  15791.666667  15791.666667  ...
24  21000.000000  21000.000000  21000.000000  21000.000000  21000.000000  ...
25  12250.000000  12250.000000   9750.000000  10250.000000  10250.000000  ...
26  15541.666667  15541.666667  15541.666667  15541.666667      0.000000  ...
27  42937.083333  42937.083333  43770.416667      0.000000      0.000000  ...
28  11666.666667  12166.666667      0.000000      0.000000      0.000000  ...
29  21041.666667      0.000000      0.000000      0.000000      0.000000  ...
30      0.000000      0.000000      0.000000      0.000000      0.000000  ...
31      0.000000      0.000000      0.000000      0.000000      0.000000  ...
32      0.000000      0.000000      0.000000      0.000000      0.000000  ...
33      0.000000      0.000000      0.000000      0.000000      0.000000  ...
34      0.000000      0.000000      0.000000      0.000000      0.000000  ...

        month 27      month 28      month 29      month 30      month 31  \
1   42141.250000  42141.250000  42141.250000  43807.916667  43807.916667
2   13750.000000  13750.000000  15833.333333  15833.333333  15833.333333
3       0.000000      0.000000      0.000000      0.000000      0.000000
4   11333.333333  11333.333333  11333.333333  11333.333333  11333.333333
5    6666.666667   6666.666667   6666.666667   6666.666667      0.000000
6    1666.666667   1666.666667   1666.666667      0.000000      0.000000
7    8750.000000   8750.000000      0.000000      0.000000      0.000000
8    9060.166667      0.000000      0.000000      0.000000      0.000000
9       0.000000      0.000000      0.000000      0.000000      0.000000
10      0.000000      0.000000      0.000000      0.000000      0.000000
11      0.000000      0.000000      0.000000      0.000000      0.000000
12      0.000000      0.000000      0.000000      0.000000      0.000000
13      0.000000      0.000000      0.000000      0.000000      0.000000
14      0.000000      0.000000      0.000000      0.000000      0.000000
15      0.000000      0.000000      0.000000      0.000000      0.000000
16      0.000000      0.000000      0.000000      0.000000      0.000000
17      0.000000      0.000000      0.000000      0.000000      0.000000
18      0.000000      0.000000      0.000000      0.000000      0.000000
19      0.000000      0.000000      0.000000      0.000000      0.000000
20      0.000000      0.000000      0.000000      0.000000      0.000000
21      0.000000      0.000000      0.000000      0.000000      0.000000
22      0.000000      0.000000      0.000000      0.000000      0.000000
23      0.000000      0.000000      0.000000      0.000000      0.000000
24      0.000000      0.000000      0.000000      0.000000      0.000000
25      0.000000      0.000000      0.000000      0.000000      0.000000
26      0.000000      0.000000      0.000000      0.000000      0.000000
27      0.000000      0.000000      0.000000      0.000000      0.000000
28      0.000000      0.000000      0.000000      0.000000      0.000000
29      0.000000      0.000000      0.000000      0.000000      0.000000
30      0.000000      0.000000      0.000000      0.000000      0.000000
31      0.000000      0.000000      0.000000      0.000000      0.000000
32      0.000000      0.000000      0.000000      0.000000      0.000000
33      0.000000      0.000000      0.000000      0.000000      0.000000
34      0.000000      0.000000      0.000000      0.000000      0.000000

        month 32      month 33      month 34  month 35  month 36
1   44224.583333  44224.583333  44641.250000  44641.25  44641.25
2   15833.333333  15833.333333  15833.333333      0.00      0.00
3       0.000000      0.000000      0.000000      0.00      0.00
4       0.000000      0.000000      0.000000      0.00      0.00
5       0.000000      0.000000      0.000000      0.00      0.00
6       0.000000      0.000000      0.000000      0.00      0.00
7       0.000000      0.000000      0.000000      0.00      0.00
8       0.000000      0.000000      0.000000      0.00      0.00
9       0.000000      0.000000      0.000000      0.00      0.00
10      0.000000      0.000000      0.000000      0.00      0.00
11      0.000000      0.000000      0.000000      0.00      0.00
12      0.000000      0.000000      0.000000      0.00      0.00
13      0.000000      0.000000      0.000000      0.00      0.00
14      0.000000      0.000000      0.000000      0.00      0.00
15      0.000000      0.000000      0.000000      0.00      0.00
16      0.000000      0.000000      0.000000      0.00      0.00
17      0.000000      0.000000      0.000000      0.00      0.00
18      0.000000      0.000000      0.000000      0.00      0.00
19      0.000000      0.000000      0.000000      0.00      0.00
20      0.000000      0.000000      0.000000      0.00      0.00
21      0.000000      0.000000      0.000000      0.00      0.00
22      0.000000      0.000000      0.000000      0.00      0.00
23      0.000000      0.000000      0.000000      0.00      0.00
24      0.000000      0.000000      0.000000      0.00      0.00
25      0.000000      0.000000      0.000000      0.00      0.00
26      0.000000      0.000000      0.000000      0.00      0.00
27      0.000000      0.000000      0.000000      0.00      0.00
28      0.000000      0.000000      0.000000      0.00      0.00
29      0.000000      0.000000      0.000000      0.00      0.00
30      0.000000      0.000000      0.000000      0.00      0.00
31      0.000000      0.000000      0.000000      0.00      0.00
32      0.000000      0.000000      0.000000      0.00      0.00
33      0.000000      0.000000      0.000000      0.00      0.00
34      0.000000      0.000000      0.000000      0.00      0.00

[34 rows x 37 columns]

In [8]:
import numpy as np
shifted_df.set_index('Cohort', inplace=True)

In [9]:
for i in range(shifted_df.shape[0]):
    first_value = shifted_df.iloc[i, 0]
    shifted_df.iloc[i, :] =  (shifted_df.iloc[i, :]/ first_value) * 100

In [10]:
shifted_df.to_excel('percent_change_cohort.xlsx', index=True)

In [11]:
shifted_df.loc[["Dec 2023"]]

,month 1,month 2,month 3,month 4,month 5,month 6,month 7,month 8,month 9,month 10,...,month 27,month 28,month 29,month 30,month 31,month 32,month 33,month 34,month 35,month 36
Cohort,,,,,,,,,,,,,,,,,,,,,
Dec 2023,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0